@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter' !important;
}
.css-1w1f2tl{
    background-color: beige;
}

.css-a5mhaz{
  background-color: rgb(245, 242, 245);
}